@keyframes backgroundAnimation {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.notice--loading__bar {
  border-radius: 6px;
  height: 10px;
}

.infiniteLinearAnimated {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: backgroundAnimation;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}

.editAnimatedButton {
  background: linear-gradient(to right, #20a8d8 8%, #20a8d8 18%, #20a8d8 33%) !important;
}

.deleteAnimatedButton {
  background: linear-gradient(to right, #f86c6b 8%, #f86c6b 18%, #f86c6b 33%) !important;
}

.darkMode {
  background-color: #23282c;
}
